<div class="subject">
	<span class="sub_subject">Computer</span>
	<%= link_to ">", {action:"index",  tags:"Computer"}, class: "details" %>
</div>
<div class="subject_list">
	<span><%= link_to "SQL", "#"%></span>
	<span><%= link_to "Jave", "#"%></span>
	<span><%= link_to "Execl", "#"%></span>
	<span><%= link_to "Operate System", "#"%></span>
	<span><%= link_to "Network", "#"%></span>
	<span><%= link_to "Cloud", "#"%></span>
</div>