<% provide(:title, 'Edit product') %>
<h1>Edit product</h1>
<div class="row">
<!-- need do input validation -->
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@product) do |f| %>
		<%= f.label :price %>
		<%= f.text_field :price, class: 'form-control' %>
		<%= f.label :ID  %>
		<%= f.text_field :PID , class: 'form-control' %>
		<%= f.label :description %>
		<%= f.text_field :description, class: 'form-control' %>

		<div class="form-group">
			<%= f.label :image %>
			<%= f.file_field :image, class: 'form-control' %>
		</div>
		<%= f.submit "Submit", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
