<div class="pcontainer">
	<div class="category">
		<ul>
			<li><%= link_to 'Item1', '#' %></li>
			<li><%= link_to 'Item2', '#' %></li>
			<li><%= link_to 'Item3', '#' %></li>
			<li><%= link_to 'Item4', '#' %></li>
		</ul>
	</div>
	<div class="content">
		<div class="bar">
			<span class="bar" id="comments">Comments</span>
			<%= render 'priceFilter' %>
			<span class="bar" id="search">search</span>
<% if current_user.admin? %>
<!--  button_to can't sent get, change to link_to !> -->
<%= link_to "Add product", { :action => 'new'},  { :class=>"bar", :id=>"addproduct" } %>
<% end %>
			</span>
		</div>
		<div class="products">
<% if @products %>
	<%= render @products %>
<% end %>
		</div>
	</div>
</div>

